<div class="row">
  <div class="col-md-6">
    <h3>Workshop Lesson Schedule</h3>
    <table class="table table-striped">
      <tr> <td>Tues 16 June</td>  <td>Programming with R I</td> </tr>
      <tr> <td>Weds 17 June</td>  <td>Programming with R II</td> </tr>
      <tr> <td>Tues 23 June</td>  <td>The Unix Shell</td> </tr>
      <tr> <td>Weds 24 June</td>  <td>Version Control with Git</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Daily Timings</h3>
    <table class="table table-striped">
      <tr> <td>9:00</td>   <td>Session 1</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Session 2</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>12:15</td>  <td>Session 3</td> </tr>
      <tr> <td>13:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
